<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Web Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="responsive.css">
    <link rel="stylesheet" type="text/css" href="paper.css">
  </head>
  <body>

    <header class="header">
      <div class="header__inner">
        <img class="header__logo" src="images/logo.jpg" alt="iconic view of a cityscape">
        <h1 class="header__title">
          XXX WebPage
        </h1>
        <a id="menu" class="header__menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
          </svg>
        </a>
      </div>
    </header>

    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#">INTRODUCTION</a></li>
        <li class="nav__item"><a href="#">PAPERS</a></li>
        <li class="nav__item"><a href="#">CODES</a></li>
        <li class="nav__item"><a href="#">BLOGS</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="box Publicated">
        <h1 >Project Finished</h1>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>

      </div>
      <div class="box Interested">
        <h1 >Still on Work</h1>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>
            <li class="top-news__item">
              <a href="https://www.baidu.com">blablablablablablablablablablablabla</a>
            </li>

      </div>
    </div> 