<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Web Page</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="responsive.css">
  </head>
  <body>

    <header class="header">
      <div class="header__inner">
        <img class="header__logo" src="images/logo.jpg" alt="iconic view of a cityscape">
        <h1 class="header__title">
          XXX WebPage
        </h1>
        <a id="menu" class="header__menu">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
          </svg>
        </a>
      </div>
    </header>

    <nav id="drawer" class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#">INTRODUCTION</a></li>
        <li class="nav__item"><a href="#">PAPERS</a></li>
        <li class="nav__item"><a href="#">CODES</a></li>
        <li class="nav__item"><a href="#">BLOGS</a></li>
      </ul>
    </nav>

    <main>
      <section class="content">
        <section class="hero">
          <article class="description">
            <h2>Recent Photos</h2>
            <p>Blablablablablablablablablablablablablablablabla</p>
          </article>
        </section>

        <section class="news top-news">
          <h2 class="news__title">Top Stories <a href="#" class="news__more">+ more</a></h2>
          <ul>
            <li class="top-news__item">
              <a href="#">blablablablablablablablablablablabla</a>
            </li>
            <li class="top-news__item">
              <a href="#">BLABLABLABLABLABLABALBALBALBALABLABAL</a>
            </li>
            <li class="top-news__item">
              <a href="#">BLABLABLABALBALBALBALBALABLABLABLABLABLA</a>
            </li>
            <li class="top-news__item">
              <a href="#">BLABLABALBALBALBALABLABLABALBALBALBLABAL</a>
            </li>
          </ul>
        </section>

        <section class="scores">
          <table class="scores__table">
            <thead>
              <tr>
                <th>date</th>
                <th>topic</th>
                <th>location</th>
                <th>time</th>
                <th>group</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Friday</td>
                <td>Sica</td>
                <td>Hust</td>
                <td>3pm</td>
                <td>Kenny</td>
              </tr>
              <tr>
                <td>Satarday</td>
                <td>Sica</td>
                <td>Hust</td>
                <td>3pm</td>
                <td>Christine</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>Sica</td>
                <td>Hust</td>
                <td>3pm</td>
                <td>Jessica</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>Sica</td>
                <td>Hust</td>
                <td>3pm</td>
                <td>Diana</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>Sica</td>
                <td>Hust</td>
                <td>3pm</td>
                <td>Kenny</td>
              </tr>
              
            </tbody>
          </table>
        </section>

        <section class="weather">
          <span class="weather__location">Our Team</span>
          <span class="weather__desc">Diana</span>
          <span class="weather__today">
          <img class="weather__today__image" src="images/sunny.png" alt="icon of a partially cloudy day"><span class="weather__today__temp"></span><span class="weather__today__deg"></span>
          </span>
          <ul class="weather__next">
            <li class="weather__next__item">
              <span>iakovos</span>
              <img class="weather__next__image" src="images/YGB.JPG" alt="icon of a sunny day">
              <span>undergraduate</span>
               <li class="weather__next__item">
              <span></span>
              <img class="weather__next__image">
              <span></span>
              </li><li class="weather__next__item">
              <span>Frank</span>
              <img class="weather__next__image" src="images/rain.png" alt="icon of a cloudy day">
              <span>undergraduate</span>
            </li>
          </ul>
        </section>

        <section class="news recent-news">
          <h2 class="news__title">Latest works <a href="#" class="news__more">+ more</a></h2>
          <ul>
            <li class="snippet">
              <img class="snippet__thumbnail" src="images/research.png" alt="picture of a girl with a large, stuffed dog toy">
              <h3 class="snippet__title"><a href="#">We build an App</a></h3>
              <p>BLABLABLABLABLABALBLABLABLABLABLBALBAL
              </p>
            </li>
            <li class="snippet">
              <img class="snippet__thumbnail" src="images/research.png" alt="picture of a girl with a large, stuffed dog toy">
              <h3 class="snippet__title"><a href="#">Have Dinner With Mit Students</a></h3>
              <p>BLABLABLBABLBALBALBALBALBALALABLABLABLABLBALBALBLABLA.
              </p>
            </li>
            <li class="snippet">
              <img class="snippet__thumbnail" src="images/research.png" alt="picture of a girl with a large, stuffed dog toy">
              <h3 class="snippet__title"><a href="#">akndksfkabfkjsabfsafksa</a></h3>
              <p>aksfkjksahfkjdshfkfhsa
              </p>
            </li>
            <li class="snippet">
              <img class="snippet__thumbnail" src="images/research.png" alt="picture of a girl with a large, stuffed dog toy">
              <h3 class="snippet__title"><a href="#">kjfskdbfkjdsfkdsafdsa</a></h3>
              <p>Gdsafndsjfndslkfdskfksadfhkjdsafhdsa
              </p>
            </li>
          </ul>
        </section>
      </section>
      <footer>
        <ul>
          <li><a href="#">My Contact</a></li>
          <li><a href="#">Other links</a></li>
          <li><a href="#">My Blogs</a></li>
        </ul>
      </footer>
    </main>
    <script>
      /*
       * Open the drawer when the menu ison is clicked.
       */
      var menu = document.querySelector('#menu');
      var main = document.querySelector('main');
      var drawer = document.querySelector('.nav');

      menu.addEventListener('click', function(e) {
        drawer.classList.toggle('open');
        e.stopPropagation();
      });
      main.addEventListener('click', function() {
        drawer.classList.remove('open');
      });

    </script>
  </body>
</html>
