.container{
		display:flex;
		flex-wrap: wrap;
	}

.box{
	text-align:center;
	width:100%;
	padding: 1.5em;

}
@media screen and (max-width: 400px){
	.Publicated{
		order:0;
	}
	.Interested{
		order: 1;
	}
}
@media screen and (min-width: 401px){
	.Publicated{
		width: 50%;
		order:1;
	}
	.Interested{
		width: 50%;
		order: 2;
	}
}
